* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(255, 248, 239);
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 8fr;
  grid-template-areas:
    "header glossary"
    "cards glossary";

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

.three,
.four,
.six {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-radius: 2px;
  padding: 5px;
}

.three:hover,
.four:hover,
.six:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.four {
  width: 42px;
  flex-wrap: wrap;
}

.six {
  width: 58px;
  flex-wrap: wrap;
}

.three>div,
.four>div,
.six>div {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  margin: 3px;
}

.active>div {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.cards {
  display: grid;
  grid-area: cards;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: flex-start;
  grid-gap: 20px;
  padding: 10px;
  height: 100%;
}

.glossary {
  grid-area: glossary;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* Safari */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f0eeee;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.english-word,
.translated-word {
  font-family: 'Segoe UI', sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.english-word {
  text-transform: uppercase;
}

.transcription,
.pronunciation {
  font-size: 20px;
  color: #8f8f8f;
}